extends layout

block content
    h1=title
    p welcome to #{title}
    p Here is the random number #{cst}
    extends layout

block content
    h1=title
    p welcome to #{title}
    p Here is the random number #{cst}
    